/*******************************************************************/
/*           GENERAL STYLES                                        */
/*******************************************************************/

#upm-container {
    min-width: 715px;
}

#upm-container h2 {
    color: #036;
    font-size: 1.8em;
    line-height: 1.8em;
}

#upm-container.upm-confluence h2, #upm-container.upm-jira h2 {
    margin-top: 0;
}

.upm-plugin-description ul, .upm-plugin-description ol {
    list-style-position: inside;
}

#upm-container a {
    color: #326ca6;
    text-decoration: none;
}

#upm-container a:hover {
    text-decoration: underline;
}

#upm-container .clearer {
    clear: both;
    display: block;
    font-size: 1px;
    height: 1px;
    line-height: 1px;
    margin-bottom: -1px;
}

#upm-container .hidden {
    display: none;
}

#upm-container .hidden {
    display: none;
}

#upm-container a img {
    border: none;
}

#upm-container .upm-no-matching-plugins {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    color: #404040;
    margin-top: 1em;
    padding: 16px;
}

/*******************************************************************/
/*           PLUGIN LISTS                                          */
/*******************************************************************/

.upm-plugin-list-container {
    position: relative;
}

.upm-plugin-list .upm-plugin {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #222;
    font-size: 1em;
    font-weight: normal;
}

.upm-plugin-list .upm-plugin-row {
    line-height: 22px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.upm-plugin-list .upm-plugin-row .upm-plugin-icon-container {
    display: inline-block;
    float: left;
    height: 16px;
    margin: 2px 10px 0 3px;
    width: 16px;
}

#upm-container .upm-plugin-list .upm-plugin.loading {
    background: none;
}

.upm-plugin-list .upm-plugin-row .upm-plugin-icon {
    display: block;
    margin: auto;
}

.upm-plugin-list .disabled .upm-plugin-row .upm-plugin-icon {
    opacity: 0.5;
}

.upm-plugin-row:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.upm-plugin-list .expanded .upm-plugin-row,
.upm-plugin-list .loading .upm-plugin-row {
    background: #ebf1fd;
}

.upm-plugin-list .disabled .upm-plugin-row {
    color: #999;
}

.upm-plugin-list .expanded.disabled .upm-plugin-row {
    color: #666;
}

h4.upm-plugin-name {
    color: #222;
    display: inline;
    float: left;
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 60%;
}

.upm-plugin-row p.upm-plugin-summary {
    color: #666;
    display: inline;
    float: right;
    font-size: 0.95em;
    margin: 0;
    padding: 0;
    width: 65%;
}

.upm-plugin-list .disabled .upm-plugin-row .upm-plugin-name {
    color: #999;
    font-weight: normal;
}

.upm-plugin-list .disabled .upm-plugin-row .upm-plugin-summary {
    color: #aaa;
}

.upm-plugin-list .expanded .upm-plugin-row .upm-plugin-summary {
    font-weight: normal;
}

p.upm-section-description {
    margin: 0 4em 1em 0;
}

/* Plugin Details */

.upm-plugin-list .upm-plugin .upm-details {
    display: none;
    font-size: 1em;
    padding: 0.8em 1em 0.8em 1.7em;
    position: relative;
}

.upm-plugin-list .expanded .upm-details {
    display: block;
}

.upm-plugin .upm-details .upm-rating {
    position: absolute;
    right: 15px;
    top: 15px;
}

.upm-plugin .upm-details h5 {
    color: #222;
    font-size: 1.05em;
    font-weight: bold;
    margin: 0.5em 0 0.3em 0;
}

.upm-plugin .upm-details p {
    color: #222;
}

.upm-plugin .upm-details p:first-of-type {
    margin-top: 0;
}

#upm-container .upm-plugin-actions {
    background: none;
    border: none;
    padding: 0;
    width: auto;
}

#upm-container .upm-plugin-row .upm-plugin-actions {
    float: right;
}

.upm-plugin-row .upm-plugin-actions .toolbar-group {
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 0;
}

.upm-plugin-row .upm-plugin-actions .toolbar-group:first-of-type {
    margin-left: 0;
}

.upm-plugin-row .upm-plugin-action-buttons {
    float: right;
}

/*******************************************************************/
/*           MISC                                                  */
/*******************************************************************/

hr {
    background: #ccc;
    border: 0;
    border-top: 1px solid #ccc;
    height: 0;
    margin: 16px 15px 16px 15px;
}

/* plugin pagination */

.upm-plugins-see-more {
    display: none;
    background: #ebf1fd;
    border: 1px solid #ccc;
    border-radius: 0 0 0.4em 0.4em;
    border-top: none;
    line-height: 25px;
    padding: 10px;
    text-align: center;
}

.upm-plugins-see-bundles {
    display: block;
    background: #ebf1fd;
    border: 1px solid #ccc;
    border-radius: 0 0 0.4em 0.4em;
    border-top: none;
    line-height: 25px;
    padding: 10px;
    text-align: center;
}

.upm-plugins-see-more.loading span {
    display: none;
}

.has-more .upm-plugins-see-more {
    display: block;
}

.has-more .upm-plugin-list {
    border-radius: 0.4em 0.4em 0 0;
}

#upm-container .upm-plugins-see-more {
    color: #404040;
}

.upm-plugin-list {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.4em;
    margin-top: 1em;
    overflow: hidden;
}

.upm-plugin-list .upm-plugin {
    border-bottom: none;
}

.upm-plugin-list .upm-plugin:first-child {
    border-top: none;
}

.upm-marketplace .upm-plugin-header {
    padding-left: 105px;
}

.upm-marketplace .upm-plugin-header .upm-plugin-logo-container {
    float: left;
    height: 72px;
    line-height: 72px;
    margin-left: -105px;
    overflow: hidden;
    text-align: center;
    width: 72px;
}

.upm-marketplace .upm-plugin-header .upm-section {
    float: left;
    margin-right: 20px;
    width: 20%;
}

.upm-marketplace h4.upm-plugin-name {
    display: block;
    float: none;
    font-size: 120%;
    font-weight: bold;
    width: auto;
}

.upm-marketplace .upm-plugin-row p.upm-plugin-summary {
    color: #404040;
    display: block;
    float: none;
    font-size: 1em;
    margin-top: 1em;
    width: auto;
}

.upm-marketplace .upm-plugin-list .upm-plugin-row {
    padding: 16px;
}

.upm-marketplace .upm-plugin-main {
    margin-right: 220px;
}

.upm-marketplace .upm-plugin-sidebar {
    float: right;
    margin-right: -220px;
    width: 190px;
}

.upm-plugin-screenshots,
.upm-plugin-video {
    text-align: center;
}

.upm-plugin-screenshots-label,
.upm-plugin-video-label {
    display: inline-block;
    margin-top: 3px;
    width: 185px;
}

#upm-container.upm-marketplace .upm-plugin-description {
    clear: none;
    margin: 0;
}

.upm-marketplace .upm-plugin-actions {
    clear: none;
    text-align: center;
}

.upm-plugin-loading-container {
    display: none;
}

.upm-bundles-loading-container {
    display: none;
    padding: 16px;
}

.upm-bundles-loading-container .upm-bundles-loading-text {
    background-image: url(images/throbber.gif);
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 25px;
    padding-left: 25px;
}

.upm-plugin.loading .upm-plugin-loading-container {
    display: block;
    padding: 16px;
}

.upm-plugin.loading .upm-plugin-loading-container .upm-plugin-loading-text {
    background-image: url(images/throbber.gif);
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 25px;
    padding-left: 25px;
}

.upm-marketplace .upm-plugin-row .upm-plugin-actions .toolbar-group {
    display: block;
    float: none;
    margin: 0 0 10px 0;
}

.upm-marketplace .upm-plugin-row .upm-plugin-actions .toolbar-item {
    float: none;
}

.aui-toolbar .primary-item .toolbar-trigger,
#atlas .aui-toolbar .primary-item .toolbar-trigger {
    /* specificity war in fisheye */
    background-color: #3068a2;
    background-image: -khtml-gradient(linear, center top, left bottom, from(#4687ce), to(#3068a2));
    background-image: -moz-linear-gradient(top, #4687ce, #3068a2);
    background-image: -ms-linear-gradient(top, #4687ce, #3068a2);
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #4687ce), color-stop(100%, #3068a2));
    background-image: -webkit-linear-gradient(top, #4687ce, #3068a2);
    background-image: -o-linear-gradient(top, #4687ce, #3068a2);
    background-image: linear-gradient(top, #4687ce, #3068a2);
    border-color: #486582;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 0 #205081;
}

.toolbar-group .primary-item:first-of-type .toolbar-trigger {
    border-color: #486582;
}

.aui-toolbar .primary-item .toolbar-trigger:hover,
.toolbar-group .primary-item:first-of-type .toolbar-trigger:hover {
    background-color: #3673b5;
    background-image: -khtml-gradient(linear, center top, left bottom, from(#5a94d3), to(#3673b5));
    background-image: -moz-linear-gradient(top, #5a94d3, #3673b5);
    background-image: -ms-linear-gradient(top, #5a94d3, #3673b5);
    background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #3673b5), color-stop(100%, #3068a2));
    background-image: -webkit-linear-gradient(top, #5a94d3, #3673b5);
    background-image: -o-linear-gradient(top, #5a94d3, #3673b5);
    background-image: linear-gradient(top, #5a94d3, #3673b5);
    border-color: #205081;
}

#upm-container .primary-item a.toolbar-trigger {
    color: #fff;
}

#upm-container a.toolbar-trigger {
    color: black;
    text-decoration: none;
}

#upm-container .upm-details .upm-plugin-actions {
    float: none;
    margin-top: 16px;
}

#upm-container .upm-details .upm-module-actions .upm-plugin-actions {
    margin-top: 0;
}

.upm-marketplace .upm-plugin-list .upm-plugin .upm-details {
    padding: 16px;
}

.upm-plugin-links {
    margin: 0 25px 0 25px;
    padding: 0;
}

.upm-plugin-links li {
    list-style: none;
    margin-top: 3px;
}

.upm-plugin-links li:first-child {
    margin-top: 0;
}

.upm-plugin-version-details {
    font-size: 95%;
    margin: 0 0 0 25px;
    padding: 0 0 0 10px;
}

.upm-plugin-version-details li {
    list-style: disc;
    margin: 0 0 3px 0;
}

.upm-plugin-rating-container {
    background: transparent url(images/stars.png) no-repeat 0 0;
    display: inline-block;
    height: 20px;
    text-align: left;
    vertical-align: middle;
    width: 60px;
}

.upm-plugin-rating-container .upm-plugin-rating {
    background: transparent url(images/stars.png) no-repeat 0 -20px;
    display: inline-block;
    height: 20px;
    width: 0;
}

.upm-plugin-rating-container .upm-plugin-rating-1 {
    width: 15px;
}

.upm-plugin-rating-container .upm-plugin-rating-2 {
    width: 30px;
}

.upm-plugin-rating-container .upm-plugin-rating-3 {
    width: 45px;
}

.upm-plugin-rating-container .upm-plugin-rating-4 {
    width: 60px;
}

.upm-plugin-header .upm-section {
    color: #777;
}

.upm-plugin-header .upm-section.upm-wide {
    width: 50%;
    margin-right: 70px;
}

.upm-plugin-header .upm-section div {
    margin-top: 8px;
}

.upm-plugin-header .upm-section div:first-child {
    margin-top: 0;
}

.upm-plugin-header h4 {
    color: #222;
    margin-top: 1px;
}

.upm-details .upm-plugin-info {
    background: #f8f8f8;
    height: 100%;
    margin-top: 1em;
    overflow: hidden;
    position: relative;
}

#upm-compatibility-content .upm-plugin-info {
    padding: 1em;
}

.upm-details .upm-plugin-info .upm-section {
    padding: 15px 25px;
}

.upm-details .upm-plugin-info .upm-column {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 30%;
    z-index: 99;
}

.upm-details .upm-plugin-info .upm-main-column {
    width: 40%;
}

.upm-plugin-info .upm-plugin-info-divider {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    height: 100%;
    left: 30%;
    position: absolute;
    width: 40%;
    z-index: 1;
}

.upm-plugin .upm-plugin-info dl {
    margin: 0;
    padding-left: 0;
}

.upm-plugin-info dl div {
    clear: left;
    margin: 0.4em 0 0 0;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
}

.upm-plugin-info dl div:first-child {
    margin-top: 0;
}

.upm-plugin .upm-plugin-info dt {
    clear: none;
    color: #555;
    display: inline;
    float: none;
    margin-top: 0.2em;
    margin-left: 0;
    margin-right: 0.5em;
}

.upm-plugin .upm-plugin-info dt:first-of-type {
    margin-top: 0;
}

.upm-plugin .upm-plugin-info dd {
    display: inline;
    margin: 0.2em 0 0 0;
}

.upm-plugin .upm-plugin-info dd:first-of-type {
    margin-top: 0;
}

.upm-details .upm-plugin-info .upm-section:first-of-type {
    border-left: none;
}

.upm-plugin-key-container {
    white-space: nowrap;
}

.upm-plugin-price {
    color: #222;
}

.loading-from-pac {
    color: #888;
}

.upm-no-screenshots {
    color: #888;
}

.upm-plugin-details-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.upm-plugin-details-links ul li {
    margin-top: 7px;
}

.upm-plugin-details-links ul li:first-child {
    margin-top: 0;
}


