/*******************************************************************/
/*           PLUGIN LISTS                                          */
/*******************************************************************/
form.wfshare-plugin-list-form
{
    margin-top:3px;
}
.tinyem {
    font-style: italic;
    color: #999;
    font-size: 0.95em;
    margin: 10px 0 0 0;
    padding: 0;
}
.wfshare-plugin-legend {
    margin:30px 0 0 0;
    padding:0;
}

.wfshare-plugin-legend span {
    margin-right:20px;
    background-color: white;
    border: none;
}

.wfshare-plugin-legend span.notify {
    background-color: white;
    border: none;
}

.wfshare-plugin-list {
    background: white;
    border: 1px solid #CCC;
    border-radius: 0.4em;
    margin-top: 1em;
    overflow: hidden;
}

.wfshare-plugin-list .wfshare-plugin {
    border-bottom: none;
    border-top: 1px solid #CCC;
    color: #222;
    font-size: 1em;
    font-weight: normal;
}

.wfshare-plugin-list .wfshare-plugin:first-child {
    border-top: none;
}

.wfshare-plugin-list .wfshare-plugin-row {
    line-height: 22px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}

.wfshare-plugin-row:hover {
    background: #f0f0f0;
    cursor: pointer;
}

.wfshare-plugin-list .wfshare-plugin .wfshare-details {
    display: none;
    font-size: 1em;
    padding: 0.8em 1em 0.8em 1.7em;
    position: relative;
}

.wfshare-plugin-list .wfshare-plugin .notify {
    background-color: white;
    border: none;
    padding: 0px;
}

.wfshare-plugin-list .wfshare-plugin-row .wfshare-plugin-icon-container {
    display: inline-block;
    float: left;
    height: 14px;
    margin: 4px 10px 0 3px;
    width: 14px;
    background-position: 0em 0em;
}

.wfshare-plugin-list .wfshare-plugin-row .wfshare-plugin-icon-container.puzzle {
    background-image: url("images/puzzle-piece.png");
    width: 16px;
    height:16px;
}


.wfshare-plugin-list .expanded .wfshare-plugin-row {
    background: #EBF1FD;
}

.wfshare-plugin-row .wfshare-plugin-actions
{
    float:right;
}

.wfshare-plugin-list .expanded .wfshare-details {
    display: block;
}

.wfshare-details .wfshare-plugin-info {
    background: #F8F8F8;
    height: 100%;
    margin-top: 1em;
    overflow: hidden;
    position: relative;
}

.wfshare-details .wfshare-plugin-info .wfshare-column {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 99;
}

.wfshare-details .wfshare-plugin-info .wfshare-section {
    padding: 15px 25px;
}

.wfshare-plugin .wfshare-plugin-info dl {
    margin: 0;
    padding-left: 0;
}

.wfshare-plugin-info dl div {
    clear: left;
    margin: 0.4em 0 0 0;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
}

.wfshare-plugin .wfshare-plugin-info dt {
    clear: none;
    color: #555;
    display: inline;
    float: none;
    margin-top: 0.2em;
    margin-left: 0;
    margin-right: 0.5em;
}

.wfshare-plugin .wfshare-plugin-info dd {
    display: inline;
    margin: 0.2em 0 0 0;
}

h4.wfshare-plugin-name {
    color: #222;
    display: inline;
    float: left;
    font-size: 100%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 60%;
}

/*******************************************************************/
/*           MISC                                                  */
/*******************************************************************/

span.error-text {
    color:red;    
}
.wfshare-tracking-container {
    margin-bottom: 1.3em;
    margin-top: 1.3em;
}

.wfshare-notes-container
{
    background: #F8F8F8;
    height: 100%;
    padding: 5px 15px;
    color: #555;
    margin-top: 0.2em;
    margin-left: 0;
    margin-right: 0.5em;
    margin-bottom: 1em;

}

textarea.notes-text {
    width:700px !important;
    height:250px;
}

em .small {
    font-size: 11px;
}

#wfshare-tracking-icon.notify {
    background-color: transparent;
    border: none;
}

#trackingMessage {
    padding:5px;
    margin:10px;
    /*font-size: 11px;*/
    color: #222;
}

.cancel:focus {
    outline: none;
}

/*******************************************************************/
/*           REPORT                                                */
/*******************************************************************/


#wfshareReport {
    color: #222;
}

#wfshareReport hr {
    background-color:#ffffff;
    color:#ffffff;
    height:0px;
    border:0px;
    margin-bottom: 2.7em;
    margin-top: 2.7em;
}

#wfshareReport h1 {
    font-size: 1.7em;
    margin-top: 0.4em;
    margin-bottom: 0.6em;
}

#wfshareReport h2 {
    color:#114070;
    font-size: 1.4em;
    margin-top: 0.4em;
    margin-bottom: 0.6em;
}

#wfshareReport h3 {
    color:#555;
    font-size: 1.2em;
    margin-top: 0.4em;
    margin-bottom: 0.6em;
}

#wfshareReport h4 {
    font-size: 1em;
    margin-top: 0.4em;
    margin-bottom: 0.6em;
}

#wfshareReport table {
    margin-bottom: 1.6em;
}

#wfshareReport .wfshare-notes-container h2 {
    color:#555;
    font-size: 1.2em;
}







