<table class="jiraform maxWidth">
    <tbody>
    <tr class="titlerow">
        <td colspan="2" class="jiraformheader">
            <h3 class="formtitle">Add New Workflow</h3>
        </td>
    </tr>

    <tr class="descriptionrow">
        <td colspan="2" class="jiraformheader">
            <div class="desc-wrap">
                To create a complete new workflow, you need to:
                <ul>
                    <li>provide a name and description to identify the workflow
                    </li>
                    <li>add the steps the workflow will have, and link them to statuses within JIRA
                    </li>
                    <li>create transitions between the different steps
                    </li>
                    <li>enable the workflow and assign it to a workflow scheme
                    </li>
                </ul>
            </div>
        </td>
    </tr>

    <tr class="hidden">
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="fieldLabelArea">


            Name


        </td>


        <td class="fieldValueArea">


            <input type="text" name="newWorkflowName" size="30">


            <div class="fieldDescription">Please use only ASCII characters.</div>
        </td>

    </tr>



    </tbody>
</table>