<table class="jiraform maxWidth">
    <tbody>
    <tr class="titlerow">
        <td colspan="2" class="jiraformheader">
            <h3 class="formtitle">Add New Workflow</h3>
        </td>
    </tr>

    <tr class="descriptionrow">
        <td colspan="2" class="jiraformheader">
            <div class="desc-wrap">
                To create a complete new workflow, you need to:
                <ul>
                    <li>provide a name and description to identify the workflow
                    </li>
                    <li>add the steps the workflow will have, and link them to statuses within JIRA
                    </li>
                    <li>create transitions between the different steps
                    </li>
                    <li>enable the workflow and assign it to a workflow scheme
                    </li>
                </ul>

                You can create a new workflow below, or <b><a href="ImportWorkflowFromXml!default.jspa?atl_token=BP8Q-WXN6-SKX3-NB5M%7Cc18ff452d6bb083133afb37dfda519b27e494a17%7Clin">import a workflow from XML</a></b>, or <b><a href="/jira/plugins/servlet/wfshare-import">Import a workflow bundle</a></b>.

            </div>
        </td>
    </tr>


    <tr class="hidden">
        <td colspan="2"></td>
    </tr>
    <tr>


        <td class="fieldLabelArea">


            Name


        </td>


        <td class="fieldValueArea">


            <input type="text" name="newWorkflowName" size="30">


            <div class="fieldDescription">Please use only ASCII characters.</div>
        </td>

    </tr>


    <tr>


        <td class="fieldLabelArea">


            Description


        </td>


        <td class="fieldValueArea">


            <input type="text" name="description" size="60">


        </td>

    </tr>


    <tr class="buttons-container">

        <td class="jiraformfooter">&nbsp;</td>
        <td colspan="1">

            <div class="aui-toolbar form-buttons noprint">


                <div class="toolbar-group">
                    <span class="toolbar-item">
                        <input type="submit" name="Add" value="Add" id="add_submit" accesskey="s" title="Press Alt+s to submit form" class="toolbar-trigger ">
                    </span>
                </div>


            </div>
        </td>
    </tr>


    </tbody>
</table>