$webResourceManager.requireResourcesForContext("jira.workflow.sharing")
<html>
<head>
    <title>$i18n.getText("wfshare.section.title.import")</title>
    <meta name="decorator" content="admin"/>
    <meta name="admin.active.section" content="wfshare-hidden-section/wfshare-import-section"/>
    <meta name="admin.active.tab" content="wfshare-map-statuses-tab"/>
</head>
<body>
<p>$i18n.getText("wfshare.import.screen.status.instructions")</p>
<form class="aui top-label" action="$nextUrl" id="wfShareImportStatusMap" method="post">
    <table class="aui">
        <thead>
            <tr>
                <th id="original-status">$i18n.getText("wfshare.import.screen.label.original.status")</th>
                <th id="new-status">$i18n.getText("wfshare.import.screen.label.new.status")</th>
            </tr>
        </thead>
        <tbody>
        #foreach($statusHolder in $statusHolders)
            <tr>
                <td headers="original-status">$statusHolder.originalName ($statusHolder.originalId)</td>
                <td headers="new-status"><select class="select" name="status-for-${statusHolder.originalId}" id="status-for-${statusHolder.originalId}">
                    <optgroup label="Create">
                        <option value="-1">$i18n.getText("wfshare.import.screen.status.select.option.create-status"): $statusHolder.newName</option>
                    </optgroup>
                    <optgroup label="Existing">
                    #foreach($jiraStatus in $jiraStatuses)
                        #if($jiraStatus.id == $statusHolder.newId)
                            #set($selected = " selected")
                        #else
                            #set($selected = "")
                        #end
                        <option value="$jiraStatus.id"$selected>$jiraStatus.name ($jiraStatus.id)</option>
                    #end
                    </optgroup>
                </select><span id="error-status-for-${statusHolder.originalId}" class='error-text' style="display:none;">$i18n.getText("wfshare.import.screen.status.error.duplicate")</span></td>
            </tr>
        #end
        </tbody>
    </table>
    <div class="buttons-container">
        <div class="buttons">
            <input class="button submit" id="backButton" type="button" value="$i18n.getText("wfshare.button.label.back")"/>
            <input class="button submit" id="nextButton" type="submit" value="$i18n.getText("wfshare.button.label.next")"/>
            <a class="cancel" href="$cancelUrl">$i18n.getText("wfshare.button.label.cancel")</a>
        </div>
    </div>
</form>
<script type="text/javascript">
    jQuery(document).ready(function()
    {
        jQuery("#backButton").click(function(){
            window.location.href = "$backUrl";
        });
        
        var errorIds = new Array();

        jQuery(".select").bind("change",function(e){

            jQuery("#nextButton").removeAttr("disabled");
            
            jQuery(".select").each(function(index,elem){

                var jElem = jQuery(elem);
                jQuery('#error-' + jElem.attr('id')).hide();
                checkDupes(jElem);
            });
        });

        var checkDupes = function(selectBox)
        {
            jQuery(".select").each(function(index,elem){
                var jElem = jQuery(elem);
                if(jElem.attr('id') !== selectBox.attr('id') && jElem.val() === selectBox.val() && selectBox.val() !== "-1")
                {
                    jQuery('#error-' + jElem.attr('id')).show();
                    jQuery('#error-' + selectBox.attr('id')).show();
                    jQuery("#nextButton").attr("disabled","disabled");
                }
            });
        }
    });
</script>
</body>
</html>